#disney, #everest, #sydney {
  display: none;
}

.background {
  margin-top: 5%;
  background-color: #f4f2e8;
}

.font {
  font-family: sans-serif;
}

.header {
  background-color: #a02db6;
  color: #efdef2;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
}
