#disney, #everest, #sydney {
  display: none;
}

.background {
  margin-top: 5%;
  background-color: #f4f2e8;
}

.font {
  font-family: sans-serif;
}

.header {
  background-color: #a02db6;
  color: #efdef2;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
}

.button {
  background-color: #a02db6;
  color: #efdef2;
}

select {
  background-color: white;
}

.form-margin {
  margin: 3%;
}

.question-margin {
  margin-bottom: 3%;
}

.img-margin {
  margin: 5%;
}

a {
  color: #a02db6;
}

ul {
  list-style-image: url(bullet.png);
}

.page-bottom {
  margin-bottom: 5%;
}
